In [1]:
import pandas as pd
import numpy as np

In [2]:
df = np.array([1,2,3,4,5,6])

In [3]:
pd_series = pd.Series(df)

In [8]:
pd_excel = pd.read_excel("Demo Data DSBDA.xlsx" ,usecols=['Sr. no.',' Roll No','Name of the Student','DM','FDS','OOP','CG','DELD'])

In [9]:
pd_series

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
pd_excel_to_series = pd.Series(pd_excel['DM'][:67])

In [ ]:
pd_excel_to_series= pd_excel_to_series.replace('AB','0').astype(float)

In [ ]:
pd_excel_to_series.sort_values(ascending=False)

0     24.0
17    24.0
60    24.0
57    24.0
50    24.0
      ...
65     1.0
56     0.0
55     0.0
39     0.0
38     0.0
Name: DM, Length: 67, dtype: float64