In [1]:
import pandas as pd
import numpy as np

In [11]:
mydict = {'RN':[1,2,3,4,5,6],'SName':['om','sham','ram','jam','kam','dam']}

In [17]:
df1 = pd.DataFrame(mydict)
df1

   RN SName
0   1    om
1   2  sham
2   3   ram
3   4   jam
4   5   kam
5   6   dam

In [21]:
mydict2 = {'RN':[1,2,3,4,5,6],'Marks':[12,13,15,17,18,18]}

In [23]:
df2 = pd.DataFrame(mydict2)

In [25]:
df = pd.merge(df1,df2,on='RN')

In [27]:
df

   RN SName  Marks
0   1    om     12
1   2  sham     13
2   3   ram     15
3   4   jam     17
4   5   kam     18
5   6   dam     18