# Assignment 3

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [11]:
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']

In [12]:
iris = pd.read_csv(csv_url,names=col_names)

In [13]:
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

#### Central Tendencies

In [27]:
#Mean
print("Mean of a column : ",iris.loc[:,"Petal_Length"].mean())

Mean of a column :  3.758666666666666

In [30]:
#Mode
print("Mode of the column : ", iris.loc[:,"Petal_Length"].mode())

Mode of the column :  0    1.5
Name: Petal_Length, dtype: float64

In [31]:
#Median
print("Median of the column : ", iris.loc[:,"Petal_Length"].median())

Median of the column :  4.35

### Dispersion

In [38]:
#Min
print("Min of the column : ",iris.loc[:,"Petal_Length"].min())

Min of the column :  1.0

In [39]:
#Max
print("Max of the column : ",iris.loc[:,"Petal_Length"].max())

Max of the column :  6.9

In [32]:
#Standard Deviation
print(" Std of the column : ",iris.loc[:,"Petal_Length"].std())

 Std of the column :  1.7644204199522626

In [34]:
#Percentile
print("25th percentile of column : ",iris.loc[:,"Petal_Length"].quantile(q=0.25))
print("50th percentile of column : ",iris.loc[:,"Petal_Length"].quantile(q=0.5))
print("75th percentile of column : ",iris.loc[:,"Petal_Length"].quantile(q=0.75))

25th percentile of column :  1.6
50th percentile of column :  4.35
75th percentile of column :  5.1

#### finding central tendencies and dispersions of entire dataframe using describe method

In [37]:
iris.describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

#### Grouping columns for central tendencies

In [40]:
grouped = iris.groupby("Species")

In [41]:
grouped

In [44]:
grouped.get_group("Iris-setosa").describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

In [48]:
grouped.get_group("Iris-versicolor").describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000